<DOCTYPE! html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>部落格</title>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="upper_part">
      <%- include('./template/header') %>

      <section class="section_banner">
        <h2>存放記錄之地</h2>
        <p>Ｗelcome to My Blog</p>
      </section>
      <main>
        <div class="cards">
          <% for (let article of results) { %>
          <div class="card">
            <div class="card_first_part">
              <div class="article_title"><%= article.title %></div>
              <% if (username) { %>
              <div class="edit_button"><a href="/update_blog/<%= article.id %>">編輯</a></div>
              <% } %>
            </div>
            <div class="time"><%= article.createdAt %></div>
            <div class="article_content hide_overflow">
              <%- article.content %>
            </div>
            <div class="read_article">
              <a href="/blog_itself/<%= article.id %>">READ MORE</a>
            </div>
          </div>
          <% } %>
        </div>
      </main>
    </div>
    <footer>
    Copyright © 2020 Yide's Blog All Rights Reserved.
    </footer>
  </div>
</body>
</html>